#spec .ant-comment-content {
  padding: 0% 5%;
  margin-left: 0%;
  color: rgb(70, 70, 184);
  font-size: 0.7rem;
}
#spec .ant-comment-content #icon {
  color: rgb(206, 69, 69);
  margin-left: 10px;
}
#spec .ant-comment-content #icon:hover {
  color: rgb(244, 1, 1);
}
#spec .ant-comment-inner {
  padding-top: 0%;
}

#spec #postText {
  font-size: 1.2rem;
}
