/* @import '~antd/dist/antd.css' */

.bDiv {
  width: 10%;
  margin: 0 auto;
}

.title{
  color:rgb(244, 244, 245);
  font-size:2rem;
  margin:auto auto;
}
.input-parent{
  display:flex;
}

.label{
  color:white;
  margin-top:2.5%;
}
#ant-input{ 
  margin: 2%;
  background-color:rgb(244, 244, 245);
  
}

#header{
  background-color:rgb(128,169,248);
  padding:1%;
  display:flex;
  justify-content: space-between;
  width:100%
}

#btn{
  background: rgb(69, 128, 245);
  margin-top:2%;
 
}